@charset "UTF-8";

/* .select-week{

} */

#weeklist {
	margin-top:15px;
}

.select-week input[type="radio"] {
  display: none;
}
.select-week input[type="radio"]:checked.weekday + label {
  color: #3275bc;
  border: 2px solid #3275bc;
  background-color: #d0e6fd;
}
.select-week input[type="radio"]:checked.weekend + label {
  color: #3275bc;
  border: 2px solid #3275bc;
  background-color: #d0e6fd;
}
.select-week input[type="submit"]:checked.weeklist + label

 { text-align:center;

 /*
  color: #3275bc;
  border: 2px solid #3275bc;
  background-color: #d0e6fd;
  */
}


/*
.select-week input[type="radio"]:checked.linux + label {
  color: #bf9701;
  border: 2px solid #bf9701;
  background-color: #fbf4dc;
}
*/
.select-week label {
  color: #3333CC;
  border: 2px solid #3333CC;
  text-align: center;
  display: inline-block;
  padding: 5px 0px;
  width: 120px;
}
.select-week label:hover {
    color: #aaa;
    border: 2px solid #aaa;
    cursor: pointer;
}


label[for="weekday"]{
	margin-right:15px;
	margin-top:15px;
}

label[for="weekend"] {
	margin-left:15px;
	margin-top:15px;
}

