@charset "UTF-8";


body {
	background-color: #ffff99;
}

/* プルダウンメニューデザイン */
select,option{
	background:rgba(235, 97, 1, 0.7);
	color: rgba(255,255, 255);
	padding: 10px 20px;
}


/*テキストボックスの編集*/
.eventText{

 margin: 10px auto 10px auto;
 padding: 10px;
 width: 75%;
 background-color: #FFF5EE; /* 背景色 */
 box-shadow: 0 0 5px 1px #ccc; /* 影 */
 position:relative;

 left:8px;

}

.EditEvent{
 margin: 10px auto 10px auto;
 padding: 10px;
 width: 75%;
 background-color: #FFF5EE; /* 背景色 */
 box-shadow: 0 0 5px 1px #ccc; /* 影 */
 position:relative;

 left:8px;
}

.down {
	display: flex;
	justify-content: space-between;
}
.down td {
	margin: 10px 10px 10px 10px;
}


/* ヘッダー */
.wrapper{

	text-align: center;
	margin: 100px auto 150px auto;
	max-width: 494px;
}

header {
	display: block;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9999;
    text-align: center;
    padding: 25px auto 25px auto;
    /* background-color: orange; */
    border-bottom: 2px solid;
    background:url(../imgs/header.jpg);
    /* background-image:linear-gradient(-45deg, rgba(201,23,30,0.4),rgba(236,104,0,0.4),rgba(248,181,0,0.4)),
	url(../imgs/p_new0498_l_new04983.jpg); */
	background-repeat:repeat-x;
	text-align:right;
    background-position:center;
}

.osirisukun{
	position:flex;
	top:0px;
	padding:0 50px 0 140px;
}

h1 {
  width: 250px;
  height: 40px;
  margin:0 auto 0 auto;
  position: relative;
  padding: 0.5rem 0.5rem 1rem 1rem;
  margin-bottom: 20px;;
  background: rgba(248,229,140,0.9);
}

h1:before {
  position: absolute;
  top: -7px;
  left: -7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid rgba(236,104,0,0.6);
}

footer {
    display: block;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 9999;
    text-align: center;
    padding: 0 auto;
    border-top: 2px solid;
    background:url(../imgs/header.jpg);
    /* background-image:linear-gradient(-45deg, rgba(201,23,30,0.4),rgba(236,104,0,0.4),rgba(248,181,0,0.4)),
	url(../imgs/p_new0498_l_new04983.jpg); */
	background-repeat:repeat-x;
	text-align:right;
	background-position: top;
}

#footer {
	text-align: center;
}
#footer p{
	width: 400px;
	margin: 10px auto 10px auto;
	background-color: rgba(255,236,100,0.9);
}

.menu {
	background-color: rgba(255,236,100,0.9);
}

#nav li {
  display: inline;
  list-style-type: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: white;
}

a {
	font-weight:bold;
}

#nav {
  margin: 10px 0 5px 0;
  padding: 15px 15px 15px 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;

}

#nav li a:link {
  color: white;
  text-decoration: none;
}
#nav li a:visited {
  color: white;
  text-decoration: none;
}
#nav li a:hover {
  color: orange;
  text-decoration: none;
}
#nav li a:active {
  color: blueviolet;
  text-decoration: none;
}


/*ボタンの編集*/
input[type="submit"]{

  display       : inline-block;
  border-radius : 17%;
  cursor        : pointer;
  margin-top: 25px;
  padding       : 12px 25px;
  background    :#EB6101;
  color         : rgba(255,255, 255);
  line-height   : 1em;
  opacity       : 1;
  transition    : .3s;
  /* box-shadow    : 6px 6px 3px #666666; */

}

input[type="submit"]:hover{
	  box-shadow    : none;
  opacity       : 0.8;
}


html {
	font-family:"Kokoro",cursive;

	}

/* テーブル中央 */
table {
	margin:0 auto 0 auto;
}

div#table {
  width: 450px;
  height: 400px;
  overflow: auto;
  border-top-width: 1px;
  border-top-style: ridge;
  border-top-color: rgb(22, 22, 22);
  border-bottom-width: 1px;
  border-bottom-style: ridge;
  border-bottom-color: rgb(22, 22, 22);
}
#t td {
	margin:0 0 0 0;
}
.block {
  	 display: flex;
	 justify-content: space-between;
	 border-bottom-width: 1px;
     border-bottom-style: solid;
     border-bottom-color: rgb(22, 22, 22);
     margin-bottom: 10px;
     padding-bottom:10px;
}
.block td {
	margin: 10px 10px 10px 10px;
}
