@charset "UTF-8";


body {
	background-color: #ffff99;
}

/* プルダウンメニューデザイン */
select,option{
	background:#cd5e3c;
	color: rgba(255,255, 255);
	padding: 10px 20px;
}


/*テキストボックスの編集*/
.eventText{

 margin: 10px auto 10px auto;
 padding: 10px;
 width: 75%;
 background-color: #FFF5EE; /* 背景色 */
 box-shadow: 0 0 5px 1px #ccc; /* 影 */
 position:relative;

 left:8px;

}

.EditEvent{
 margin: 10px auto 10px auto;
 padding: 10px;
 width: 75%;
 background-color: #FFF5EE; /* 背景色 */
 box-shadow: 0 0 5px 1px #ccc; /* 影 */
 position:relative;

 left:8px;
}

.down {
	display: flex;
	justify-content: space-between;
}
.down td {
	margin: 10px 10px 10px 10px;
}

/* テキストボックスの位置 */
/* .eventType{

	position: relative;
	top:50px;
	left:50px;

} */






/* ヘッダー */
.wrapper{

	text-align: center;
	margin: 100px auto 150px auto;
	max-width: 494px;



}

header {
	display: block;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: auto;
    text-align: center;
    padding: 25px auto 25px auto;
    background-color: #c7dc68;
	text-align: right;
}

.osirisukun{
	position:flex;
	top:0px;
	padding:0 auto 0 auto;
}


.title {
	text-align: center;
	background-color: #cd5e3c;
	width: 100%;
	margin: 0 auto 0 auto;
	padding: 0 20px 0 20px;
}

/* ヘッダーの下に文字がいかないようにする*/
/* h2 {
	margin-top:100px;
} */


footer {
    display: block;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    z-index: 9999;
    text-align: center;
    padding: 0 auto;
    background-color: #c7dc68;
}

.menu {
	background-color: #cd5e3c;
}

#nav li {
  display: inline;
  list-style-type: none;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: white;

}

#nav {
  padding: 20px 15px 20px 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;

}

#nav li a:link {
  color: white;
  text-decoration: none;
}
#nav li a:visited {
  color: white;
  text-decoration: none;
}
#nav li a:hover {
  color: orange;
  text-decoration: none;
}
#nav li a:active {
  color: blueviolet;
  text-decoration: none;
}


/*ボタンの編集*/
input[type="submit"]{

  display       : inline-block;
  border-radius : 17%;
  cursor        : pointer;
  margin-top: 25px;
  padding       : 12px 25px;
  background    : rgb(0, 128, 64);
  color         : rgba(255,255, 255);
  line-height   : 1em;
  opacity       : 1;
  transition    : .3s;
  box-shadow    : 6px 6px 3px #666666;

}

input[type="submit"]:hover{
	  box-shadow    : none;
  opacity       : 0.8;
}


html {
	font-family:"Kokoro",cursive;

	}

/* テーブル中央 */
table {
	margin:0 auto 0 auto;
}

div#table {
  width: 480px;
  height: 400px;
  overflow: auto;
}





