@charset "UTF-8";

/* リスト見出しデザイン */
legend.house {
	background-color:#FF0099;
	padding:10px 15px;
	border-radius:5px;
	color:#ffffff;

/*
	text-align: center;
	margin:0 auto 0 auto;
*/
}

legend.job {
	background-color:#FF0099;
	padding:10px 15px;
	border-radius:5px;
	color:#ffffff;
/*
	text-align: center;
	margin:0 auto 0 auto;
*/
}

legend.play {
	background-color:#FF0099;
	padding:10px 15px;
	border-radius:5px;
	color:#ffffff;
/*
	text-align: center;
	margin:0 auto 0 auto;
*/
}

/*リストテキストボックスデザイン*/
.listtable {
	/*
	display: block;
	margin: 0 auto 0 auto;
	width: 250px;
	border-spacing:0px 10px;
	*/
	margin-top: 5px;
	border-radius : 10px;
}

.listtable th {
 padding: 8px;
}

.listtable td {
 padding: 8px;
}


/* 報奨画面へボタン */
.rewardButton{

  display       : inline-block;
  border-radius : 17%;
  cursor        : pointer;
  padding       : 12px 25px;
  background    : rgb(0, 128, 64);
  color         : rgba(255,255, 255);
  line-height   : 1em;
  opacity       : 1;
  transition    : .3s;
  box-shadow    : 6px 6px 3px #666666;
  margin-top:10px;
}
.rewardButton:hover{
	  box-shadow    : none;
  opacity       : 0.8;
}
