@charset "UTF-8";

/* リスト見出しデザイン */
legend.house {
	background-color:#FF0099;
	padding:10px 15px;
	border-radius:5px;
	color:#ffffff;

/*
	text-align: center;
	margin:0 auto 0 auto;
*/
}

legend.job {
	background-color:#FF0099;
	padding:10px 15px;
	border-radius:5px;
	color:#ffffff;
/*
	text-align: center;
	margin:0 auto 0 auto;
*/
}

legend.play {
	background-color:#FF0099;
	padding:10px 15px;
	border-radius:5px;
	color:#ffffff;
/*
	text-align: center;
	margin:0 auto 0 auto;
*/
}

/*リストテキストボックスデザイン*/
.listtable {
	/*
	display: block;
	margin: 0 auto 0 auto;
	width: 250px;
	border-spacing:0px 10px;
	*/
	margin-top: 20px;
	border-radius : 10px;
}

.listtable th {
 padding: 10px;
}

.listtable td {
 padding: 10px;
}