@charset "UTF-8";


/*推し写真、声のテキストボックス見出しデザイン*/
legend.osititle {
	background-color:#FF0099;
	padding:10px 15px;
	border-radius:5px;
	color:#ffffff;
/*
	text-align: center;
	margin:0 auto 0 auto;
*/
}

/*推し写真、声のテキストボックスデザイン*/
.ositable {
	/*
	display: block;
	margin: 0 auto 0 auto;
	width: 250px;
	border-spacing:0px 10px;
	*/
	margin-top: 20px;
	border-radius : 10px;

}

.ositable th {
 padding: 10px;
}

.ositable td {
 padding: 10px;
}

/* 推し写真＆推しボイスのテーブルとOKボタンの中央揃え */

table.table_osi_pic {
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

 .table_osi_pic .good {
	text-align: right;
}

#osi_pic {
	text-align: center;
}

table.table_osi_voice {
	margin-left: auto;
	margin-right: auto;
}
#osi_voice {
	text-align: center;
}

/*.browse_btn {
background-color: #d3d3d3;
padding: 6px;
border-radius: 8px;
font-weight: bold;
} */

@media screen { #goodFile { display: none; } }

#preview {
	width:50%;
	height:20%;
}

@media screen { #badFile { display: none; } }

#preview_2 {
	width:50%;
	height:20%;
}

@media screen { #otherFile { display: none; } }

#preview_3 {
	width:50%;
	height:20%;
}

strong {
  	margin-left:1em;
/* 	margin-right:4em; */
	margin-right:0px;
	margin-bottom:3em;
	font-size:20px;
	vertical-align: middle;
}

/* .good {
	vertical-align: middle;
} */