@charset "UTF-8";


/*推し写真、声のテキストボックス見出しデザイン*/
legend.osititle {
	background-color:#FF0099;
	padding:10px 15px;
	border-radius:5px;
	color:#ffffff;
/*
	text-align: center;
	margin:0 auto 0 auto;
*/
}

/*推し写真、声のテキストボックスデザイン*/
.ositable {
	/*
	display: block;
	margin: 0 auto 0 auto;
	width: 250px;
	border-spacing:0px 10px;
	*/
	margin-top: 20px;
	border-radius : 10px;

}

.ositable th {
 padding: 10px;
}

.ositable td {
 padding: 10px;
}

/* OKボタン調整 */

table.homeshashin {
	margin-left: auto;
	margin-right: auto;
}
#homebutton {
	text-align: center;
}

.voicetable{
 margin: auto 0;
/* 	text-align:center;
	vertical-align:middle; */
}
