/*今日の日付を色変える場合
	.calendar tbody td:hover {
	background: #cacaca;
	color: #fff;

*/





.yeah {
	display: flex;
	text-align:center;
	/* background-color: #FF00FF; */
	justify-content: space-between;
	width:150;
    z-index:auto;

}


#prev {
	/* 矢印ボタン、オシャレにするうう？ */
	/* ボタンのCSS */
    background-color: #E53935;
    border-radius: 8px;
    box-shadow: 0 4px 0 #C62828;
    color: #fff;
    display: block;
    margin-left: 50px;
    padding: 8px;
    position: relative; /* position: relative;で矢印の位置を基点とさせます */
    text-align: center;
    text-decoration: none;
    outline: none;
   /*  z-index:-1; */
    /* width: 50%; */
}

#prev:active {
	/* ボタンをクリックしたときに沈むように見える動き */
    box-shadow: 0 0 0 #C62828;
}


#next {
	/* ボタンのCSS */
    background-color: #E53935;
    border-radius: 8px;
    box-shadow: 0 4px 0 #C62828;
    color: #fff;
    display: block;
    margin-right: 50px;
    padding: 8px;
    position: relative; /* position: relative;で矢印の位置を基点とさせます */
    text-align: center;
    text-decoration: none;
    outline: none;
    /* z-index:-1; */
    /* width: 50%; */
}

#next:active {
	/* ボタンをクリックしたときに沈むように見える動き */
    box-shadow: 0 0 0 #C62828;
}




#header {
	text-align:center;
}



#calendar {
    display: flex;
    flex-wrap: wrap;
    line-height:2.5;
    width:450px;
    margin: 10px 20px 10px 20px;

    background:	#FFFFAA;
	border-radius: 1em 1em 1em 1em;
	-webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	box-shadow: 0 2px 1px rgba(0, 0, 0, .2), 0 3px 1px #fff;
	color: #555;
	display: inline-block;

	text-transform: uppercase;


}



.wow {

	padding: 0;
	position: relative;

	/* font-size: 4em;
	line-height: 1em; */

	text-transform: lowercase;
	background:#FFFFAA;
}

.is-disabled_lastmonth {
/*
	background: #ccc;
  display: grid;
	font: 87.5%/1.5em 'Lato', sans-serif;
	margin: 0;
  min-height: 100vh;
  place-items: center;
*/
	width:400px;
    margin:0 auto;
    padding: 0;
    position:relative;
    line-height:3;
    font-size:90%;
    background:#FFFFAA;


	/* font-size: 8em;

	font-weight: 900;

	background: #cacaca; */
	color: #C0C0C0;

}


.is-disabled_nextmonth {


	width:400px;
    margin:0 auto;
    padding: 0;
    position:relative;
    line-height:3;
    font-size:90%;
     background:#FFFFAA;

	/* font-size: 8em;

	font-weight: 900;

	background: #cacaca; */
	color: #C0C0C0;


}




.is-disabled_lastmonth:hover {
	background: #cacaca;
	color: #fff;

}


.calendar_td {
	width:30px;
	padding: 0;
	position: relative;
	/*
	font-size: 8em;
	*/
	font-weight:900;
	 background:#FFFFAA;
}

.calendar_td:hover {
	background: #cacaca;
	color: #fff;

}


section {
    margin: 10px;
}

h1 {
    font-size: 18px;


}

 table {


	background:white;

	border-collapse:collapse;
    border-spacing:0;


}

#calendar td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;

}

#calendar td:first-child {
    color: red;
}

#calendar td:last-child {
    color: royalblue;
}

#calendar td.is-disabled {
    color: #ccc;
}


.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
  }

  .modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name: modalopen;
    animation-duration: 1s;
  }

  @keyframes modalopen {
    from {opacity: 0}
    to {opacity: 1}
  }

  .modal-header h1 {
    margin: 1rem 0;
  }

  .modal-header {
    background: lightblue;
    padding: 3px 15px;
    display: flex;
    justify-content: space-between;
  }

  .modalClose {
    font-size: 2rem;
  }

  .modalClose:hover {
    cursor: pointer;
  }

  .modal-body {
    padding: 10px 20px;
    color: black;
  }

#pastList td{

}

#pastList {

}
/* td_1{
	color:black;
    text-align:left;
    display:inline-block;
} */

/* td td_1 {


} */

